@import "../jobVariables";

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin-left: -$POLYGON_EXTRA;
  padding: $CONTENT_PADDING_V $POLYGON_EXTRA;
  clip-path: polygon(0 0, 100% 0, calc(100% - #{$POLYGON_EXTRA}) 100%, 0 100%);
  z-index: +1;
}

.secondary {
  opacity: .4;
  font-size: 1rem;
}

.jobFunction {
}

.description {
  margin-top: 20px;
}