.tiled_tile {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  // animation: appear .8s ease-in-out;

  > img {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
  }

  > .imgGhost {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
  }
}

@keyframes appear {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}
