.tiled_tile {
  position: absolute;
  display: inline-block;
  overflow: hidden;

  > img {
    width: 100%;
    height: auto;
    backface-visibility: hidden;
  }

  > .imgGhost {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
  }
}
