
.card:not(:last-child) {
    margin-bottom: 1.5rem;
}

.card_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;

    > * {
        margin: .5rem;
        margin-bottom: .5rem !important;
    }
}