
$ITEM_WIDTH: 400px;
$IMG_HEIGHT: 300px;

.item {
  display: inline-flex;
  flex-direction: column;
  width: $ITEM_WIDTH;
  overflow: hidden;
  background: #fff;
  padding: 8px;
}

.back {
  background-size: cover;
  height: $IMG_HEIGHT;
}

.front {
  display: flex;
  flex-direction: column;
}

.logo {

}

.name {

}

.startDate {

}

.tags {

}
