$CONTENT_PADDING_V: 50px;
$LOGO_WIDTH: 92px;
$BUILDING_WIDTH: 133px;
$PATH_WIDTH: 2px;

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 400px;
}

.back {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 100%;

  .back_left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: max($BUILDING_WIDTH, $LOGO_WIDTH);
  }

  .logo {
    display: inline-block;
    margin-top: $CONTENT_PADDING_V;
    margin-left: $BUILDING_WIDTH / 2 - $LOGO_WIDTH / 2;
    width: $LOGO_WIDTH;
  }

  .path {
    position: relative;
    flex-grow: 1;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: calc(50% - #{$PATH_WIDTH/2});
      width: 0;
      border-left: $PATH_WIDTH dashed rgba(white, .5);
    }
  }

  .building {
    position: relative;
    width: $BUILDING_WIDTH;
    height: 100%;

    .part {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: $CONTENT_PADDING_V 0;
  margin: 0 173px;

  :global(.title), :global(.subtitle) {
    color: inherit;
    margin-bottom: 0;
  }
}

.secondary {
  opacity: .4;
  font-size: 1rem;
}

.label {
  position: absolute;
  transform: translate(-100%, -50%);
  top: calc(50% - 1px);
  left: -.2em;
}

.label_wrapper {
  position: relative;

  &:global(.title), &:global(.subtitle) {
    > .label {
      font-weight: normal;
    }
  }
}

.companyName {

}

.dates {
  font-size: 1.2em;
}

.jobFunction {
  margin-top: 20px;
}

.tag, .link {
  &:not(:last-child) {
    margin-right: 5px;
  }
}

.links {
  position: absolute;
  top: 50%;
  right: -1em;
  transform: translate(100%, -50%);

  .link {

  }
}

.description {
  margin-top: 20px;
}