$SKILL-ICON-SIZE: 4em;

@mixin skillColor($ext, $color) {
  .skill_#{$ext} {
    .skillLevel {
      &::-webkit-progress-value {
        background: $color;
      }

      &::-moz-progress-bar {
        background: $color;
      }

      & {
        color: $color;
      }
    }
  }
}

.skill {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 8.5rem;

  &:not(:last-child) {
    margin-bottom: 0;
  }

  .skillIcon {
    &:not(img) {
      font-size: $SKILL-ICON-SIZE;
    }
  }

  img.skillIcon {
    height: $SKILL-ICON-SIZE;
  }

  .skillSub {
    display: block;
  }

  .skillLevel {
    margin-top: 5px;
  }
}
