$SKILL-ICON-SIZE: 4em;

$SKILL-MAP: (
  ts: #007acc,
  react: #61dafb,
  react_router: #D0021B,
  redux: #764ABC,
  node: #83CD29,
  jest: #99425b,
  sequelize: #3b4b72,
  java: #EA2D2E,
  d3: #f7974e,
  crossfilter: #2E3B4E,
  sass: #CB6699,
  antd: #F0606F,
  bootstrap: #5B4282,
  webpack: #1c78c0,
  git: #F34F29,
  hummus: #f7a16e
);

@mixin skillColor($ext, $color) {
  .skill_#{$ext} {
    .skillLevel {
      &::-webkit-progress-value {
        background: $color;
      }
      &::-moz-progress-bar {
        background: $color;
      }
      & {
        color: $color;
      }
    }
  }
}

.skill {
  display: inline-block;
  text-align: center;
  width: 8.5rem;

  &:not(:last-child) {
    margin-bottom: 0;
  }

  .skillIcon {
    &:not(img) {
      font-size: $SKILL-ICON-SIZE;
    }
  }

  img.skillIcon {
    height: $SKILL-ICON-SIZE;
  }

  .skillSub {
    display: block;
  }

  .skillLevel {
    margin-top: 5px;
  }
}

@each $key, $color in $SKILL-MAP {
  @include skillColor($key, $color);
}
